/* Add CSS styles here! */
/*
light mode icon: #000000
dark mode icon: #e7e9ec
blue icon: #133df6
red icon: #ff331f
*/

:root {
  --text-color: rgb(0 0 0 / 0.5);
  --bg-color: rgb(247 247 247);
  --icon-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
}

.dark {
  --bg-color: #2f3437;
  --text-color: rgb(255 255 255 / 0.9);
}

.dark .main,
.dark .section {
  background-color: var(--bg-color);
}

.dark h1,
.dark h2,
.dark h3 {
  color: var(--text-color);
}
