/* Add CSS styles here! */
:root {
  --text-color: rgb(0 0 0 / 0.5);
  --bg-color: rgb(255 255 255);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
}

.dark {
  --bg-color: #2f3437;
  --text-color: rgb(255 255 255 / 0.9);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark .main,
.dark .section {
  background-color: var(--bg-color);
}

.dark h1,
.dark h2,
.dark h3 {
  color: var(--text-color);
}
